<a href="https://colab.research.google.com/github/sakrl0413/Data_Analysis/blob/main/1_DataSeries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

👀 🐾 <font color = 'red'> **Index, Series, Element(원소)**

|Index Name/label | i0 | i1 | i2 | i3 | ... | in |
|:|-|-|-|-|-|-|
|Index Value | V0 | V1 | V2 | V3 | ... | Vn |
|Integer position|0|1|2|3|...|n|

<font color = 'blue'>👀 🐾 Exercise**

|Index Name/label | a | b | c | d | e | f |
|:|-|-|-|-|-|-|
|Index Value | 10 | 20 | 30 | 40 | 50 | 60 |
|Integer position|0|1|2|3|4|5|

Series['c'] ➡️  30

Series["c"] ➡️  30

Series[2] ➡️  30

Series[['d'],['e']] ➡️  40, 50

Series[[3,4]] ➡️  40, 50
* 여러개의 인덱스를 리스트 형태로 입력할 때에는 대괄호 ([]) 안에 넣기

Series['d':'e'] ➡️  40, 50

Series[3:5] ➡️  40, 50

In [1]:
#@markdown <font color = 'red'> **🐹 Student Activity 1 [list data] ⤵️**

import pandas as pd
list_data = ['2025-01-01', 3.14, 'ABC', 100, True]
sr = pd.Series(list_data)
print(sr)

0    2025-01-01
1          3.14
2           ABC
3           100
4          True
dtype: object

In [2]:
#@markdown <font color = 'red'> **🐹 Student Activity 2 {dictionary data} ⤵️**

!pip install pandas
import pandas as pd
dict_data = {'a':1, 'b':2, 'c':3}

sr = pd.Series(dict_data)

print(type(sr)) #시리즈 클래스. 시리즈는 데이터가 순차적으로 나열된 1차원 배열
print('\n')
print(sr) #dtype: int64 (정수형)

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2023.4)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.25.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
<class 'pandas.core.series.Series'>


a    1
b    2
c    3
dtype: int64

👀 🐾 **list data or tuple data with [Index values separated by a comma]**

* pandas.Series() with two arguments separated by a comma
  * argument1 -> variable name
  * argument 2 -> index name

In [3]:
#@markdown <font color = 'red'> **🐹 Student Activity 3 (tuple data) ⤵️**
import pandas as pd
tuple_data = ('Emma', '2000.12.25', 'Female', True)
sr = pd.Series(tuple_data, index=['Name', 'DOB', 'Gender', 'Student'])
print(sr)

print(sr[0])
print(sr['Name'])

Name             Emma
DOB        2000.12.25
Gender         Female
Student          True
dtype: object
Emma
Emma

In [ ]:
import pandas as pd
tuple_data = ('Emma', '2000.12.25', 'Female', True)
sr = pd.Series(tuple_data, index=['Name', 'DOB', 'Gender', 'Student'])
print(sr[1,2])

👀 🐾 **Print part of list data**
* print([]) 대괄호 사용
* use additional [ ] for an embedded list

In [ ]:
#@markdown <font color = 'red'> **🐹 Student Activity 4 ⤵️**

#@markdown <font color = 'red'> **Print part of [list data]**

import pandas as pd
tuple_data = ('Emma', '2000.12.25', 'Female', True)

 #정수형 위치 인덱스 대신 인덱스 이름을 따로 지정
sr = pd.Series(tuple_data, index=['Name', 'DOB', 'Gender', 'Student'])

print(sr[[1,2]])
print('\n')
print(sr[['DOB','Gender']])

DOB       2000.12.25
Gender        Female
dtype: object


DOB       2000.12.25
Gender        Female
dtype: object